.btns{
    display: flex;
    align-items: center;
    gap: 20px;
}
.btn{
    background: var(--main_color);
    padding: 14px 30px;
    border-radius: 10px;
    font-weight: 600;
    text-transform: capitalize;
    color: var(--black_color);
    transition: 0.3s;
}
.btn:hover{
    background-color: gray;
    color: var(--main_color);
}
